@model IEnumerable<ECommerce_Scarpe.Models.Prodotto>

@{
    ViewBag.Title = "Home Page";
}

<div class="container">
    <div class="row">
        @Html.ActionLink("Aggiungi Prodotto", "AddProdotto")
    </div>
    <div class="row ">
        
        @foreach (ECommerce_Scarpe.Models.Prodotto item in Model)
        {
            <div class="col-md-4 m-3">
                <div class="card" style="width: 18rem;">
                    <img src="~/Content/FileUpload/@item.ImgCopertina" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@item.Nome</h5>
                        <p class="card-text">@item.Descrizione</p>
                        <p>@item.Prezzo.ToString("c2")</p>
                        <p>In vendita: @item.ControlloVendita</p>
                        @Html.ActionLink("Dettaglio Scarpa", "DetailsProduct", new { id = @item.IdProdotto })
                        @Html.ActionLink("Modifica Prodotto", "GestioneProdotti", new { id = @item.IdProdotto })
                    </div>
                </div>
            </div>
        }

    </div>
</div>